<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ulraq.net.nz/tyhmeleaf/layout">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <!-- href with @{} figures out where the file is-->
    <!--<link rel="stylesheet" th:href="@{/css/styles.css}"/>-->
    <link rel="stylesheet" href="../../static/css/style.css"
          th:ref="@{css/style.css}"/>
    <link rel="stylesheet" href="../../static/css/materia/bootstrap.min.css"
          th:ref="@{css/materia/bootstrap.min.css}"/>

    <script th:src="@{webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header::header"></div>
<div layout:fragment="content">

</div>

<div th:replace="fragments/footer::footer"></div>

</div>




<div layout:fragment="content">

</div>

<div th:replace="fragments/footer :: footer">

</div>


</body>
</html>