<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ulraq.net.nz/tyhmeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/css/styles.css" th:ref="@{/css/styles.css}"/>
    <!--<link rel="stylesheet" href="/css/materia/bootstrap.min.css"-->
          <!--th:ref="@{/css/materia/bootstrap.min.css}"/>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!--
    <script th:src="@{webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/bootstrap.min.js}"></script>-->
    <title>Test</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div layout:fragment="content">

</div>



<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>