<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}" >
<head>
    <title>Task Page</title>
</head>
<body>

<div  layout:fragment="content" class="container mySpace">
    <div class="card">
        <div class="card card-body">
            <ul>
                <li th:each="task : ${tasks}">
                    <a th:text="${task.description}" th:href="'/task/view/' + ${task.id}"></a>
                </li>
            </ul>

            <a href="/task/add">Add Task</a>

        </div>
    </div>
</div>
</body>
</html>