<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}" >
<head>
    <title>Task Page</title>
</head>
<body>

<div  layout:fragment="content" class="container mySpace">
    <div class="card">
        <div class="card card-body">
            <ul>
                <li>
                    <p th:text="${task.description}"></p>
                </li>
            </ul>


        </div>
    </div>
</div>
</body>
</html>